.navbar-custom {
    background-color: #001e43;
    }
  .navbar-title {
    font-family: 'Pacifico', cursive;
  }
  .center{
    margin:auto;
  }

  .content-css{
    margin-top: 20px;
  }

.buscolor{
    background-color: #001e43;
}